body{
  background: #ffffff;
}

.container{
  width: 95%;
}
/* UPHP NAVBARS */
.navbar {
  background-color: #f3f3f3;
  height: 150px;
  border-bottom: 1px solid #cccccc;
}
.navbar .uphp-type-error {
    color: #c53f57;
    font-size: 25px;
}
.navbar .uphp-exception-error {
    color: #d68693;
    font-size: 25px;
}
.navbar .uphp-message-error{
    color: #6a7577;
    font-size: 20px;
}
.navbar .uphp-on-line{
    color: #cccccc;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}
.container > .navbar-header{
    margin-top: 20px;
}

/* UPHP PANELS */
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.panel > .panel-heading {
  color: #333;
  background-color: #fafafa;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #999999;
}
.panel-body {
  padding: 0px;
}
.panel-no-radius{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}

/*LIST GROUP*/
.list-group {
  padding-left: 0;
  margin-bottom: 0px;
}

.list-group-item-heading.active{
    color: #ffffff;
    text-shadow: 1px 1px #333333;
    font-weight: bold;
}
.list-group-item-text.active{
    color: #ffffff;
    text-shadow: 1px 1px #333333;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 15px 20px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

/* CODE FILE */
.code-box-style{
  margin-top: -1px;
  box-shadow: 5px 5px 3px #888888;
}