body{
  background: #f0f0f5;
}
/* UPHP NAVBARS */
.navbar {
  background-color: #20202a;
  height: 150px;
}
.navbar .uphp-class-error {
    color: #dd5555;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px #000000;
}
.navbar .uphp-path-error {
    color: #aaaaaa;
    font-size: 25px;
    text-shadow: 1px 1px #000000;
}
.navbar .uphp-exception-class{
    color: #ffffff;
    font-size: 35px;
    text-shadow: 2px 2px #000000;
}
.navbar .uphp-on-line{
    color: #cccccc;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}
.container-fluid > .navbar-header{
    margin-top: 35px;
}

/* UPHP PANELS */
.panel {
  border-color: #ddd;
  box-shadow: 5px 5px 3px #888888;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;  
}
.panel > .panel-heading {
  color: #333;
  background-color: #eeeeee;
  border-color: #ddd;
  border-top: 6px solid #aa3333;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
  color: #999999;
  text-shadow: 1px 1px #ffffff;
  text-align: center;
}
.panel-body {
  padding: 0px;
}
.panel-no-radius{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}

/*LIST GROUP*/
.list-group {
  padding-left: 0;
  margin-bottom: 0px;
}

.list-group-item-heading.active{
    color: #ffffff;
    text-shadow: 1px 1px #333333;
    font-weight: bold;
}
.list-group-item-text.active{
    color: #ffffff;
    text-shadow: 1px 1px #333333;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 15px 20px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

/* CODE FILE */
.code-box-style{
  margin-top: -1px;
  box-shadow: 5px 5px 3px #888888;
}